<div class="col-md-6 offset-md-3">
  <% if notice %>
    <div class="alert alert-danger"><%= notice %></div>
  <% end %>
      <% @posts.each do |post| %>
        <div class="blog-post-small">
          <h2 class="post-title"><%= post.title %></h2>
          <h6 class="small-text"><%= post.created_at.strftime('%b %d, %Y') %></h6>
          <p><%= raw (post.body).truncate(358) %></p>
          <div class="btn-group float-right" role="group" aria-label="form actions">
            <%= link_to post, class: 'btn btn-sm btn-outline-info' do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
               Show
            <% end %>
            <%= link_to edit_post_path(post), class: 'btn btn-sm btn-outline-info' do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
               Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
               Delete
            <% end %>
          </div>
        </div>
      <% end %>
  
  <%= link_to new_post_path, class: 'btn btn-outline-info btn-block padded-top' do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
     Add Post
  <% end %>
</div>
